:root{
    --bg-color: white;
    --text-on-dark: white;
    --card-color: rgb(6, 62, 136);
    --light-card-color: rgb(21, 75, 146);
    --text-on-light: black;
    --primary-color: white;
    --secondary-color: black;
}

body.dark-theme{
     --bg-color: black;
    --text-on-dark: rgb(106, 134, 246);
    --card-color: rgb(3, 22, 48);
    --light-card-color: rgb(17, 53, 101);
    --text-on-light: white;
    --primary-color: rgb(106, 134, 246);
    --secondary-color: white;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-on-dark);
}

.body,
html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.full-page {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
    min-width: 100vw;
    width:auto;
    background-size: cover;
    background-color: center;
    padding: 5rem 2rem;
}

.bg-home {
    background-image: url(/images/Gemini_Generated_Image_7p6t27p6t27p6t27.png);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 10;


}

.logo {
    width: 20%;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;

}

.navbar a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-on-dark);
}

.navbar {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

}

#theme-toggle{
    appearance: none;
    -webkit-appearance: none;
    background: none;
    background-color: transparent;
    border: solid 0.03rem var(--primary-color);
    padding: 0.05rem 1rem;
    border-radius: 4px;
}

.lang-selector {
    border: 1px solid var(--text-on-dark);
    border-radius: 20px;
    padding: 8px 16px;


}

.lang-selector a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.lang-selector img {
    width: 14px;
}

#home {
    align-items: center;
}

.hero-section h1 {
    font-size: 64px;

}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.btn {
    display: inline-block;
    padding: 14px 16px;
    transition: all 0.3 ease;
    font-weight: 6000px;
    text-decoration: none;
    border: 2px solid var(--text-on-dark);

}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-on-light);
}

.btn-secondary {
    color: var(--text-on-dark);
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature-card img {
    width: 32px;
}

.feature-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 40px 30px;
    background-color: var(--card-color);
    color: var(--text-on-dark);
    
}

.feature-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.feature-card p {
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.85;
}

.features-container {
   display: flex;
   justify-content: center;
   align-items: stretch; 
   gap: 2rem;
   width: 90%;
   max-width: 1200px;
   padding: 45px 0;
}

.features-container--floating{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#about p,
h2,
h4 {
    color: var(--text-on-light);
}

#about {
    padding-top: 15rem;
    align-items: center;
}

.description {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-side,
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-side{
    gap: 1.5rem;
}

.left-side > img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 4px;
}

.vis-mis {
    display: flex;
    gap: 1.5rem;
    margin-top: auto;
}

.purpose{
    flex: 1;
}

.purpose h4 {
    margin: 20px 0 10px 0;
    opacity: 0.85;
}

.purpose p {
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.6;
}

.right-side{
    gap: 1rem
}

.right-side > img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    margin-top: auto;
    
}

.right-side h2{
    font-size: 42px;
}

.divider{
    background-color: rgb(194, 194, 194);
    width: 0.6px;
    align-self: stretch;
}

#about-us-container {
    border: 1.2px solid  var(--card-color);
    width:fit-content;
    padding: 8px;
    display: flex;
    gap: 0.5rem;
}

#about-us-container img {
    width: 20px;
    height: 20px;
}

#about-us-container span {
   color:  var(--card-color);
}

#academic{
   margin-top: 4rem;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   align-items: center;;
}

.bg-academic{
     background-color:  var(--card-color);
}

.academic-container{
    display: flex;
    justify-content: center;
    border: 0.002rem solid var(--primary-color);
    width:fit-content;
    padding: 0.8rem;
    align-items: center;
    font-weight: 0.5rem;
}

.academic-container > img{
   width: 20px;
   height: 20px;
}

.feature-card--light{
    background-color: var(--light-card-color);
}

.heading-text > h2{
    color: var(--text-on-dark);
    font-size: 3rem;
}

.heading-text{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.heading-text p{
    opacity: 0.8;
}



